.todo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 25px;
    width: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todoResults{
    border-radius: 15px;
    padding : 10px;
    margin-top: 10px;
    width: min-content;
    text-align: center;
    display:grid;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 15px 25px 0px rgba(75, 75, 75, 0.27);
}

.todoOutput{
    border: 1px solid rgba(75, 75, 75, 0.27);
    padding : 10px;
    margin-top: 10px;
    width: 150px;
    text-align: center;
    display:flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.button{
    background-color: blue;
    color: aliceblue;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.236);
}
